<main class="about-page">
  <section class="about-main-header"></section>
  <section class="about-header"></section>
  <article class="about-section section-1"></article>
  <article class="about-section section-2"></article>
  <article class="about-section section-3"></article>
  <article class="about-section section-4"></article>
  <div class="information">
    <div class="info-modal">
      <ul class="info-modal-list"></ul>
    </div>
  </div>
</main>
