<main>
  <div class="info">
    <div class="info-1">
      <h1 class="cinema-title"></h1>
      <p class="cinema-open"></p>
      <div class="info-modal">
        <ul class="info-modal-list"></ul>
      </div>
    </div>
    <div class="info-2">
      <img class="kino-img" />
    </div>
  </div>
  <h2 class="movie-headline"></h2>
  <div class="movie-container"></div>
</main>
